* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 0.5em;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6f7ff;
}

.operations {

    text-align: center;
}

.operation {
    float: right;
    margin: 0 0 0 1em;
}


.button-create {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin: .5em 0 .7em .5em;
}

.button-create:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-create:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-create:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.operation:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.update {
    color: #3434ec;
}

.delete {
    color: red;
}

.has-not {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

label {
    margin-right: .5em;
    font-weight: 700;
}